/* Youtube */
ytd-rich-grid-renderer.style-scope.ytd-two-column-browse-results-renderer {
  display: none;
}

/* Facebook */
.sponsored_ad {
  display: none;
}

span.b6ax4al1.lq84ybu9.hf30pyar.om3e55n1 {
  background-color: var(--web-wash);
}

.r6ydv39a.mfclru0v {
  display: none;
}

/* Instagram */
section._aalv._aalx {
  display: none;
}